@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

a {
  margin: 2px;
}

:root{
  font-family: "Manrope", sans-serif;
}

.active {
  padding: 5px 0px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-bottom: 2px solid #D87D4A;
  margin: 0;
}

.nav-link {
  padding: 5px 0px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.swiper1 {
  background-image: url(/public/banner/banner4.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.swiper2 {
  background-image: url(/public/banner/banner2.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.swiper3 {
  background-image: url(/public/banner/banner3.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.swiper4 {
  background-image: url(/public/banner/banner4.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 20px auto;
}


a {
  font-size: 15px;
  font-weight: bold;
}