@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

a {
  margin: 2px;
}

:root{
  font-family: "Manrope", sans-serif;
}

.active {
  padding: 5px 0px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-bottom: 2px solid #D87D4A;
  margin: 0;
}

.nav-link {
  padding: 5px 0px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.swiper-pagination-bullet {
background: #D87D4A !important;
}




a {
  font-size: 15px;
  font-weight: bold;
}