@tailwind base;
@tailwind components;
@tailwind utilities;

a{
    margin: 2px;
}

.active{
    padding: 0px 15px;
    text-decoration: none;
    color: #7E90FE;
    font-size: 17px;
    font-weight: 800;
}
.nav-link{

    padding: 0px 15px;
    text-decoration: none;
    color: #ac8572;
    font-size: 16px;
    font-weight: 700;;
}

.swiper1{
    background-image: url(/public/banner/banner1.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.swiper2{
    background-image: url(/public/banner/banner2.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.swiper3{
    background-image: url(/public/banner/banner3.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.swiper4{
    background-image: url(/public/banner/banner4.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 20px auto;
}


a{
    font-size: 15px;
    font-weight: bold;
}